.navbar .container-fluid {
    margin: 0 auto;
    max-width: 80%;
}

.navbar-brand * {
    margin-right: 12px;
}

.navbar-brand span {
    font-weight: bold;
}

.navbar-user-name {
    margin-right: 12px;
}
